# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Kubernetes
k8s/helm
k8s/kustomization.yaml


# Sonarqube secrets
sonarqube/dev/sonarqube_key.pem
sonarqube/dev/terraform.tfvars
sonarqube/dev/.terraform/

# secrets and local keys in order to run configurations and scripts locally
github-runners-gcp/github-runners-ansible-gcp/terraform/modules/github-runner/.env
github-runners-gcp/github-runners-ansible-gcp/terraform/modules/github-runner/github_runner_key
github-runners-gcp/github-runners-ansible-gcp/terraform/modules/github-runner/github_runner_key.pub
github-runners-aws/github-runners-ansible-aws/terraform/modules/github-runner/.env
github-runners-aws/github-runners-ansible-aws/terraform/modules/github-runner/github_runner_key
github-runners-aws/github-runners-ansible-aws/terraform/modules/github-runner/github_runner_key.pub

# emr paths
emr-simulation/back-end/simulation/.venv
emr-simulation/back-end/.venv
emr-simulation/back-end/db.sqlite3


# eks self healing platform
eks-self-healing-platform
k8s

# PEM / SSH Keys
*.pem
id_rsa
id_rsa.pub